.layout {
  height: 100vh;

  &__header {
    display: flex;
    align-items: center;
    gap: 1rem;

    .layout__menu-btn {
      display: block;
    }

    .layout__brand {
      font-size: 1.4rem;
      font-weight: 600;
    }
  }

  &__sidebar {
    width: 240px;

    .sidebar-nav {
      &__item {
        font-size: 1rem;
        &.mat-list-item {
          padding: 12px 16px;
        }
      }
    }
  }

  &__content {
    background: #f7f7f7;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &__router-area {
    padding: 1.5rem;
  }
}

/* Responsive */
@media (max-width: 768px) {
  .layout {
    &__sidebar {
      width: 200px;
    }

    &__header {
      .layout__menu-btn {
        display: inline-flex;
      }
    }
  }
}
