@use "index" as *;

.login {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $primary-color url("/bg.jpg") no-repeat center center;
  background-size: cover;

  &__form-wrapper {
    width: 100%;
    max-width: 400px;
    padding: 1rem;
  }

  &__card {
    padding: 2rem;
    border-radius: 16px;
    box-shadow: 0 6px 24px rgba(0, 0, 0, 0.18);
    text-align: center;
  }

  &__brand {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 0 0 1rem 0;
    color: $inputs;
    background-color: $primary-color;

    padding: $spacing-4;
    border-radius: 20px 40px 15px 35px;
  }

  &__title {
    margin-bottom: 1.5rem;
    font-weight: 600;
    font-size: 1.3rem;
    color: #555;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__input {
    width: 100%;
  }

}
