$primary-color: #0098ef;
$primary-color-hover: #24afff;
$primary-color-active: #008ada;
$secondary-color: #7e7e7e;
$secondary-color-hover: #676767;
$secondary-color-active: #6f6f6f;

$background: #effaff;
$background-hover: #dcf4ff;
$background-division: #a9c7d5;
$background-text: #cacaca;
$white: #ffffff;
$black: #000000;
$black-hover: rgb(54, 54, 54);
$red: #e70c00;
$red-hover: #bc0900;
$disabled: #7e7e7e;
$inputs: #00588b;
$success-green: #008000;
