<div class="router-sales">
  <app-page-title title="Router Sales">
    <app-back-button></app-back-button>
  </app-page-title>

  <app-router-sales-card
    [routerCashData]="routerCashData"
  ></app-router-sales-card>

  <div class="router-sales__vouchers">
    <h3>Voucher Sales</h3>
    <app-table-listing
      [columns]="couponColumns"
      [dataSource]="paginatedData"
      [actions]="false"
    ></app-table-listing>

    @if (coupons.length > 0) {
    <app-paginator
      [dataLength]="coupons.length"
      (onPaginatorEvent)="onPageChange($event)"
    ></app-paginator>
    }
  </div>
</div>
