@use 'index' as *;

.admin-page-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__title {
    h2 {
      font-size: $font-size-xl;
      font-weight: $font-weight-bold;
    }
  }

  @include respond('xs') {
    &__title {
      h2 {
        font-size: $font-size-md;
      }
    }
  }
}
